<div class="content">
  <div class="mt-5 container mb-3 fs-2 fw-semibold">
    Items delivered to your doorstep
  </div>
  <div class="container d-flex justify-content-start mb-4">
    <div class="column" style="width: 220px; margin-right: 50px">
      <img src="fruits-vegetables.webp" class="img-fluid" />
    </div>
    <div class="column" style="width: 220px">
      <img src="groceries.webp" class="img-fluid" />
    </div>
  </div>
  <div class="container fw-semibold my-5 fs-4">Categories</div>
  <div class="container mb-5 mt-5 d-flex flex-column flex-sm-row justify-content-between">
    <div class="d-flex flex-column align-items-center shadow-sm px-5 py-3">
      <div style="width: 64px;">
        <img src="chicken-leg.png" class="img-fluid mb-3" /></div>
      <p>Meat</p></div>
    <div class="d-flex flex-column align-items-center shadow-sm px-5 py-3">
      <div style="width: 64px;">
        <img src="energy-drink.png" class="img-fluid mb-3" /></div>
      <p>Energy drinks</p></div>
    <div class="d-flex flex-column align-items-center shadow-sm px-5 py-3">
      <div style="width: 64px;">
        <img src="pawprint.png" class="img-fluid mb-3" /></div>
      Pet</div>
    <div class="d-flex flex-column align-items-center shadow-sm px-5 py-3">
      <div style="width: 64px;">
        <img src="bakery.png" class="img-fluid mb-3" /></div>
      Bakery</div>
    <div class="d-flex flex-column align-items-center shadow-sm px-5 py-3">
      <div style="width: 64px;">
        <img src="dairy-products.png" class="img-fluid mb-3" /></div>
      Dairy</div>
  </div>
  <div class="fw-semibold fs-4to container">Picks for you</div>
  <div class="d-flex mt-3 mb-5 container justify-content-between py-2">
    <div class="column" style="width: 250px;">
      <img src="d4b.webp" class="img-fluid rounded" />
    </div>
    <div class="column" style="width: 250px;">
      <img src="grocery.webp" class="img-fluid rounded" />
    </div>
    <div class="column" style="width: 250px;">
      <img src="restaurants.webp" class="img-fluid rounded" />
    </div>
    <div class="column" style="width: 250px;">
      <img src="send-packages.webp" class="img-fluid rounded" />
    </div>

  </div>
</div>