<div class="container my-5">
    <div class="input-group mt-5 ms-auto me-auto mb-3" style="width: 60%;">
        <input id="search" type="text" class="form-control" placeholder="Milk, banana, potato..">
        <button type="search" class="btn btn-primary">Search</button>
    </div>
    <div class="search-results row row-cols-lg-6 gx-2 gy-3"></div>
</div>